.header{
  padding: 20px;
  display: flex;
  justify-content: center;
  background-color: yellow;
}

.add{
  border-radius: 10px;
  background: blue;
  color: white;
  padding: 10px;

  &:hover{
    cursor: pointer;
    background: black;
  }
}